@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "GeistMono", monospace;
}
body {
  background-image: image-set(url("/img/banner.avif"), url("/img/banner.webp"));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top top;
  font-smooth: always;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
